body { background: #000; color: white; font-family: sans-serif; margin: 0; padding-bottom: 110px; }
.container { padding: 20px; text-align: center; }
input { width: 70%; padding: 12px; border-radius: 20px; border: none; outline: none; }

.song-card { display: flex; align-items: center; background: #181818; padding: 10px; border-radius: 8px; margin-bottom: 10px; }
.result-art { width: 45px; height: 45px; border-radius: 4px; margin-right: 12px; }
.result-info { flex-grow: 1; text-align: left; }
.play-item-btn { background: #1DB954; border: none; color: white; border-radius: 50%; width: 35px; height: 35px; }

.progress-container { position: absolute; top: 0; left: 0; width: 100%; height: 4px; background: #333; cursor: pointer; }
.progress-fill { width: 0%; height: 100%; background: #1DB954; transition: width 0.1s linear; }

.bottom-bar {
    position: fixed; bottom: 0; left: 0; width: 100%; height: 95px;
    background: #121212; border-top: 1px solid #282828;
    display: flex; align-items: center; padding: 10px 15px 0 15px; box-sizing: border-box; z-index: 100;
}
#trackArt { width: 50px; height: 50px; border-radius: 4px; }
.track-info { flex-grow: 1; margin-left: 10px; overflow: hidden; white-space: nowrap; }
#nowArtist { font-size: 11px; color: #aaa; margin: 0; }

.controls { display: flex; align-items: center; }
.lyrics-text-btn { background: none; border: 1px solid #1DB954; color: #1DB954; padding: 4px 8px; border-radius: 12px; font-size: 10px; font-weight: bold; margin-right: 8px; }
.main-play { background: none; border: none; color: white; font-size: 30px; margin: 0 10px; }
.nav-btn { background: none; border: none; color: white; font-size: 24px; cursor: pointer; }

.overlay { position: fixed; top: 100%; left: 0; width: 100%; height: 100%; background: #000; z-index: 200; transition: 0.4s ease; padding: 60px 25px; box-sizing: border-box; overflow-y: auto; text-align: center; }
.overlay.active { top: 0; }
.close-btn { position: absolute; top: 20px; right: 20px; background: none; border: none; color: white; font-size: 35px; }
#lyricsContent { color: #1DB954; font-size: 22px; font-weight: bold; line-height: 1.6; }
